<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.AfternoonTeaSelectMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.tea_task_id as teaTaskId, 
        t.tea_menu_id as teaMenuId, 
        t.tea_id as teaId, 
        t.create_time as createTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr,
        t.select_user_id as selectUserId
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.AfternoonTeaSelectDto"
            resultType="cn.i4.data.cloud.core.entity.view.AfternoonTeaSelectView">
        SELECT
            <include refid="Base_Column_List" />,
            u.realname as realName,
            a.name as teaName,
            a.image as teaImage,
            a.store_address as teaStoreAddress,
            a.price as teaPrice,
            concat(m.date,'(',m.week,')') as dateWeek,
            k.title as taskTitle
        FROM t_afternoon_tea_select AS t
        left join t_user u on t.select_user_id = u.id
        left join t_afternoon_tea a on a.id = t.tea_id
        left join t_afternoon_tea_menu m on m.id = t.tea_menu_id
        left join t_afternoon_tea_task k on k.id = t.tea_task_id
        where 1=1
        <if test="userId != null">
            and t.select_user_id = #{userId}
        </if>
        <if test="startDate != null and startDate != ''">
            and t.create_time between #{startDate} and #{endDate}
        </if>
        <if test="teaName != null and teaName != ''">
            and a.name like concat('%',#{teaName},'%')
        </if>
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>
    </select>

    <select id="selectDetailTable" parameterType="cn.i4.data.cloud.core.entity.dto.AfternoonTeaSelectDto"
            resultType="cn.i4.data.cloud.core.entity.view.AfternoonTeaSelectView">
        SELECT
            <include refid="Base_Column_List" />,
            u.realname as realName,
            a.name as teaName,
            a.image as teaImage,
            a.store_address as teaStoreAddress,
            a.price as teaPrice,
            concat(m.date,'(',m.week,')') as dateWeek,
            k.title as taskTitle
        FROM t_afternoon_tea_select AS t
        left join t_user u on t.select_user_id = u.id
        left join t_afternoon_tea a on a.id = t.tea_id
        left join t_afternoon_tea_menu m on m.id = t.tea_menu_id
        left join t_afternoon_tea_task k on k.id = t.tea_task_id
        where t.tea_task_id = #{taskId}
        and t.tea_menu_id = #{menuId}
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>
    </select>

</mapper>