<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.AfternoonTeaMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.name as name, 
        t.image as image, 
        t.price as price, 
        t.store_address as storeAddress, 
        t.create_time as createTime, 
        t.update_time as updateTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr,
		FROM_UNIXTIME(t.update_time,'%Y-%m-%d %T') as updateTimeStr,
        t.create_user_id as createUserId
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.AfternoonTeaDto"
            resultType="cn.i4.data.cloud.core.entity.view.AfternoonTeaView">
        SELECT
            <include refid="Base_Column_List" />,
            u.realname as realName,
            ifnull((select count(s.id) from t_afternoon_tea_select s where s.tea_id=t.id),0) as selectCount
        FROM t_afternoon_tea AS t
        left join t_user u on t.create_user_id = u.id
        where 1=1
        <if test="name != null and name != ''">
            and t.name like concat('%',#{name},'%')
        </if>
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>
    </select>

    <select id="selectByIds" resultType="cn.i4.data.cloud.core.entity.view.AfternoonTeaView">
        SELECT
            <include refid="Base_Column_List" />,
            u.realname as realName,
            ifnull((select count(s.id) from t_afternoon_tea_select s where s.tea_id=t.id and s.tea_menu_id = #{menuId} and s.tea_task_id = #{taskId}),0) as selectCount,
            (t.price * ifnull((select count(s.id) from t_afternoon_tea_select s where s.tea_id=t.id and s.tea_menu_id = #{menuId} and s.tea_task_id = #{taskId}),0)) as amount
        FROM t_afternoon_tea AS t
        left join t_user u on t.create_user_id = u.id
        where t.id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY t.create_time DESC
    </select>

</mapper>