<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.AttendanceMendProcessNodeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.mend_process_id as mendProcessId, 
        t.upper_id as upperId, 
        t.node_name as nodeName, 
        t.user_id as userId, 
        t.receive_user_id as receiveUserId, 
        t.deal_time as dealTime,
        FROM_UNIXTIME(t.deal_time,'%Y-%m-%d %T') as dealTimeStr,
        t.deal_type as dealType, 
        t.comment as comment
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.AttendanceMendProcessNodeDto"
            resultType="cn.i4.data.cloud.core.entity.view.AttendanceMendProcessNodeView">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_attendance_mend_process_node AS t

    </select>

    <select id="selectByProcessId" resultType="cn.i4.data.cloud.core.entity.view.AttendanceMendProcessNodeView">
        select
            <include refid="Base_Column_List" />,
            (select u.realname from t_user u where u.id = t.upper_id) as userName,
            (select u.realname from t_user u where u.id = t.receive_user_id) as receiveUserName
        from t_attendance_mend_process_node t
        where t.mend_process_id = #{processId}
        order by t.deal_time desc
    </select>


</mapper>