<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.FileMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.name as name, 
        t.cover as cover, 
        t.url as url, 
        t.suffix as suffix, 
        t.type as type, 
        t.size as size,
        t.width as width,
        t.height as height,
        t.status as status, 
        t.description as description, 
        t.create_time as createTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr,
        t.create_user_id as createUserId
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.FileDto"
            resultType="cn.i4.data.cloud.core.entity.view.FileView">
        SELECT
            <include refid="Base_Column_List" />,
            u.realname
        FROM t_file AS t
        left join t_user u on t.create_user_id = u.id
        where 1=1
        <if test="type != null">
            and t.type = #{type}
        </if>
        <if test="startDate != null">
            and t.create_time between #{startDate} and #{endDate}
        </if>
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>
    </select>

    <!--加载图片-->
    <select id="loadImageTable" parameterType="cn.i4.data.cloud.core.entity.dto.FileDto"
            resultType="cn.i4.data.cloud.core.entity.view.FileView">
        SELECT
            <include refid="Base_Column_List" />,
            u.realname
        FROM t_file AS t
        left join t_user u on t.create_user_id = u.id
        where t.type = 1
        <if test="userId != null">
            and t.create_user_id = #{userId}
        </if>
        <if test="fileSize != null">
            and t.size &lt;= #{fileSize}
        </if>
        <choose>
            <when test='limitProp == "1"'>
                <if test="width != null and height != null">
                    and t.width*${height} = ${width}*t.height
                </if>
            </when>
            <otherwise>
                <if test="width != null and height != null">
                    and t.width = ${width} and t.height = ${height}
                </if>
            </otherwise>
        </choose>
        ORDER BY t.create_time DESC
    </select>

</mapper>