<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.HistoryNoticeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.title as title, 
        t.type_id as typeId, 
        t.explain_info as explainInfo, 
        t.mongo_id as mongoId, 
        t.create_time as createTime, 
        t.update_time as updateTime, 
        t.deploy_time as deployTime, 
        t.create_user_id as createUserId, 
        t.status as status
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.HistoryNoticeDto"
            resultType="cn.i4.data.cloud.core.entity.view.HistoryNoticeView">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_history_notice AS t

    </select>

</mapper>