<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.LogAutocodeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.datasource_id as datasourceId, 
        t.create_time as createTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr,
        t.user_id as userId, 
        t.login_name as loginName, 
        t.create_author as createAuthor, 
        t.create_package_prefix as createPackagePrefix, 
        t.create_local as createLocal, 
        t.create_result as createResult
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.LogAutocodeDto"
            resultType="cn.i4.data.cloud.core.entity.view.LogAutocodeView">
        SELECT
            <include refid="Base_Column_List" />,
            a.datasource_name as datasourceName
        FROM t_log_autocode AS t
        left join t_autocode_datasource a on a.id = t.datasource_id
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>
    </select>

</mapper>