<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.LogPermissionErrorMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.class_name as className, 
        t.method_name as methodName, 
        t.request_path as requestPath, 
        t.permission as permission, 
        t.type as type, 
        t.create_time as createTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr,
        t.user_id as userId,
        t.login_name as loginName
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.LogPermissionErrorDto"
            resultType="cn.i4.data.cloud.core.entity.view.LogPermissionErrorView">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_log_permission_error AS t
        where 1=1
        <if test="userId != null">
            and t.user_id = #{userId}
        </if>
        <if test="startDate != null">
            and t.create_time between #{startDate} and #{endDate}
        </if>
        <if test="requestPath != null">
            and t.request_path like concat('%',#{requestPath},'%')
        </if>
        <if test="type != null">
            and t.type = #{type}
        </if>
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>

    </select>

</mapper>