<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.PartyActivityMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.type_id as typeId, 
        t.head_user_id as headUserId, 
        t.title as title, 
        t.cover_image as coverImage, 
        t.mongo_id as mongoId,
        t.start_time as startTime, 
        t.end_time as endTime,
        FROM_UNIXTIME(t.start_time,'%Y-%m-%d %T') as startTimeStr,
		FROM_UNIXTIME(t.end_time,'%Y-%m-%d %T') as endTimeStr,
        t.address as address,
        t.is_sign as isSign,
        t.sign_start_time as signStartTime,
        t.sign_end_time as signEndTime,
		FROM_UNIXTIME(t.sign_start_time,'%Y-%m-%d %T') as signStartTimeStr,
		FROM_UNIXTIME(t.sign_end_time,'%Y-%m-%d %T') as signEndTimeStr,
        t.limit_sign as limitSign, 
        t.traffic_type as trafficType, 
        t.create_time as createTime, 
        t.update_time as updateTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr,
		FROM_UNIXTIME(t.update_time,'%Y-%m-%d %T') as updateTimeStr,
        t.create_user_id as createUserId,
        t.status as status
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.PartyActivityDto"
            resultType="cn.i4.data.cloud.core.entity.view.PartyActivityView">
        SELECT
            <include refid="Base_Column_List" />,
            FROM_UNIXTIME(t.start_time,'%Y') as startTimeYear,
            u.realname as headUserName,
            p.name as typeName
        FROM t_party_activity AS t
        left join t_user u on u.id = t.head_user_id
        left join t_party_activity_type p on t.type_id = p.id
        where 1=1
        <if test="typeId != null">
            and t.type_id = #{typeId}
        </if>
        <if test="year != null">
            and startTimeYear = #{year}
        </if>
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.start_time DESC
        </if>
    </select>

    <!--查询活动行-->
    <select id="selectActivity" parameterType="cn.i4.data.cloud.core.entity.dto.PartyActivityDto"
            resultType="cn.i4.data.cloud.core.entity.view.PartyActivityView">
        SELECT
            <include refid="Base_Column_List" />,
            FROM_UNIXTIME(t.start_time,'%Y') as startTimeYear,
            u.realname as headUserName,
            p.name as typeName,
            if(s.id is null,0,1) as userSign
        FROM t_party_activity AS t
        left join t_user u on u.id = t.head_user_id
        left join t_party_activity_type p on t.type_id = p.id
        left join t_party_activity_sign s = on t.id = s.activity_id and s.sign_user_id = #{userId}
        where t.status = 1
        <if test="typeId != null">
            and t.type_id = #{typeId}
        </if>
        <if test="year != null">
            and startTimeYear = #{year}
        </if>
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.start_time DESC
        </if>
    </select>

</mapper>