<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.SetRabbitmqQueueMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.user_id as userId, 
        t.exchange_id as exchangeId, 
        t.name as name, 
        t.describe_info as describeInfo, 
        t.durable as durable, 
        t.auto_delete as autoDelete, 
        t.exclusive as exclusive, 
        t.routingKey as routingkey, 
        t.create_time as createTime
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.SetRabbitmqQueueDto"
            resultType="cn.i4.data.cloud.core.entity.view.SetRabbitmqQueueView">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_set_rabbitmq_queue AS t

    </select>

</mapper>