<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.VActReModelMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.model_id as modelId, 
        t.model_name as modelName, 
        t.model_key as modelKey, 
        t.create_time as createTime, 
        t.last_update_time as lastUpdateTime, 
        t.version as version, 
        t.meta_info as metaInfo
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.VActReModelDto"
            resultType="cn.i4.data.cloud.core.entity.view.VActReModelView">
        SELECT
        <include refid="Base_Column_List" />
        FROM v_act_re_model AS t
        <if test="field != null and field != ''">
            order by ${field} ${sort}
        </if>
        <if test="field == null or field == ''">
            ORDER BY t.create_time DESC
        </if>
    </select>

</mapper>