<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.i4.data.cloud.core.mapper.WeekreportFileMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id as id, 
        t.weekreport_id as weekreportId, 
        t.create_user_id as createUserId, 
        t.name as name, 
        t.url as url, 
        t.suffix as suffix, 
        t.type as type, 
        t.size as size, 
        t.create_time as createTime,
        FROM_UNIXTIME(t.create_time,'%Y-%m-%d %T') as createTimeStr
    </sql>

    <select id="selectPage" parameterType="cn.i4.data.cloud.core.entity.dto.WeekreportFileDto"
            resultType="cn.i4.data.cloud.core.entity.view.WeekreportFileView">
        SELECT
        <include refid="Base_Column_List" />
        FROM t_weekreport_file AS t
    </select>

    <select id="selectByWeekReportId" resultType="cn.i4.data.cloud.core.entity.view.WeekreportFileView">
        SELECT
            <include refid="Base_Column_List" />
        FROM t_weekreport_file AS t
        where t.weekreport_id = #{weekReportId}
    </select>

</mapper>